*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.nba{
    width: 5%;
    margin-left: -33px;
    margin-top: 15px;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:url(wallpaperflare.com_wallpaper.jpg);
    background-position: contain;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 235px;
    margin-left: -22%;
}
.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
}

.nav-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;
    
}


.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    margin-top: -3%;
    margin-bottom: 2%;
    font-size: 40px;
    color: #fff;
}

.text-box h2{
    margin-top: -3%;
    margin-bottom: 2%;
    font-size: 40px;
    color: #fff;
}


.text-box p{
    margin: -4px 0 40px;
    font-size:14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}


.hero-btn:hover{
    border: 1px solid #f44336;
    border-radius: 10px;
    background: #f44336;
    transition: 0.5s;
}

nav .fa{
    display: none;
}

input
{
	    height: 33px;
		border-radius:20px;
		padding-left:9px;
        padding-right: 2%;
		font-weight:bold;
}

.calc{
    margin: 0% 22% 2% -4%;
    background-color:rgb(20, 165, 233);  
    color: #ffffff;    
    padding: 0.4%;    
    border: 0;    
    min-width: 135px;   
    border-radius: 30px;" 
}
.names{
    color: white;
    font-family: Montserrat;
    margin-left: 65px;
    margin-right: 65px;
    margin-top:62px;
}
.names h1 {
    color: white;
    font-size: 17px;
    margin-left: 178px;
    margin-right: 65px;
    margin-top:194px;
}
.names h2 {
    color: white;
    font-size: 17px;
    margin-left: 183px;
    margin-right: 0px;
    margin-top:5px;
}
.names h3 {
    color: white;
    font-size: 17px;
    margin-left: 1144px;
    margin-right: 0px;
    margin-top:-155px;
}
.names h4 {
    color: white;
    font-size: 17px;
    margin-left: 1144px;
    margin-right: 0px;
    margin-top:-19px;
}
@media(max-width: 700px){
    .text-box h1{
    font-size: 21px;
    margin-top: -51%;
    margin-bottom: -5%;
     }
    
     .text-box h2{
    font-size: 21px;
    margin-top: -50%!important;
    margin-bottom: -5%;
     }
    
    
    .logo{
    width: 235px;
    margin-left: -2%;
}
    
    .nba{
        width: 53px;
    margin-left: -1%;
    }
    .text-box p{
    margin: 10px 0 40px;
    font-size:10px;
    font-size-adjust: auto;
    color: #fff;
}
    
    .nav-links ul li{
        display: block;
    }
    
    .nav-links{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right:-200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    
input
{
	    height: 36px;
        width: 119px;
		border-radius:20px;
		font-weight:bold;
}    
    
 
      .center .alti{
        margin-bottom: 20px;
        margin-left: 7px;
        margin-right: 40px;
        margin-top: 29px;
        display: table-footer-group;
}
      .center .calc{
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: -75px;
        margin-top: 0px;
        height: 34px;
        display: table-footer-group;
}
      .center .pressure{
        margin-bottom: 17px;
        margin-left: 7px;
        margin-right: 0px;
        margin-top: 17px;
        display: table-footer-group;
}
      .center .temp{
       margin-bottom: 17px;
        margin-left: 1px;
        margin-right: 12px;
        margin-top: 17px;
        display: table-footer-group;
}
      .center .den{
        margin-bottom: 17px;
        margin-left: 7px;
        margin-right: 6px;
        margin-top: 17px;
        display: table-footer-group;
}
      .center .speed{
        margin-bottom: 17px;
        margin-left: 10px;
        margin-right: 1px;
        margin-top: 17px;
        display: table-footer-group;
}
 .names{
    color: white;
    font-family: Montserrat;   
    }
.names h1 {
    color: white;
    font-size: 13px;
    margin-left: -28px;
    margin-right: 0px;
    margin-top:-26px;
}
.names h2 {
    color: white;
    font-size: 13px;
    margin-left: -29px;
    margin-right: 0px;
    margin-top:-13px;
}
.names h3 {
    color: white;
    font-size: 13px;
    margin-left: -26px;
    margin-right: 0px;
    margin-top:41px;
}
.names h4 {
    color: white;
    font-size: 13px;
    margin-left: -26px;
    margin-right: 0px;
    margin-top:-19px;
}
}

































